[workspace]
members = ["ocipkg", "ocipkg-cli"]
exclude = ["examples/rust/lib", "examples/rust/exe"]
resolver = "2"

[workspace.dependencies]
anyhow = "1.0.95"
base16ct = { version = "0.2.0", features = ["alloc"] }
base64 = "0.22.1"
cargo_metadata = "0.18.1"
chrono = "0.4.39"
clap = { version = "4.5.29", features = ["derive"] }
colored = "3.0.0"
directories = "5.0.1"
env_logger = "0.11.6"
flate2 = "1.0.35"
git2 = "0.19.0"
lazy_static = "1.5.0"
log = "0.4.25"
maplit = "1.0.2"
oci-spec = "0.7.1"
regex = "1.10.6"
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.138"
sha2 = "0.10.8"
tar = "0.4.43"
tempfile = "3.16.0"
toml = "0.8.20"
ureq = { version = "2.12.1", features = ["json"] }
url = "2.5.4"
urlencoding = "2.1.3"
uuid = { version = "1.13.1", features = ["v4"] }
walkdir = "2.5.0"
