[package]
name = "ocipkg"
version = "0.3.0"
authors = ["Toshiki Teramura <toshiki.teramura@gmail.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
description = "OCI registry for package distribution"
documentation = "https://docs.rs/ocipkg"
repository = "https://github.com/termoshtt/ocipkg"
readme = "../README.md"

[dependencies]
anyhow = "1.0.82"
base16ct = { version = "0.2.0", features = ["alloc"] }
base64 = "0.22.0"
chrono = "0.4.38"
directories = "5.0.1"
flate2 = "1.0.28"
lazy_static = "1.4.0"
log = "0.4.21"
oci-spec = "0.6.5"
regex = "1.10.4"
serde = "1.0.198"
serde_json = "1.0.116"
sha2 = "0.10.8"
tar = "0.4.40"
toml = "0.8.12"
ureq = { version = "2.9.7", features = ["json"] }
url = "2.5.0"
uuid = { version = "1.8.0", features = ["v4"] }
walkdir = "2.5.0"

[dev-dependencies]
maplit = "1.0.2"
