name: Rust

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          default: true
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: test

  with-registry:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - name: Setup registry
        run: |
          ./test/fixture.sh
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: -- --include-ignored
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000

  check-format:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: rustup component add clippy
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features -- -D warnings

  doc:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rs/cargo@v1
        with:
          command: doc
        env:
          RUSTDOCFLAGS: -D warnings

  semver-check:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - name: Install semver-check
        run: cargo install cargo-semver-checks --locked
      - name: semver check
        run: cargo semver-checks
